.website_logo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5% 0 1.5%;
    border-bottom: 2px solid #6cd793;
    color: #6cd793;
}

header {
    margin: 0 6vh;
}
