.binary-button {
    background-color: transparent;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 16px;
    cursor: pointer;
    margin: 5px;
    border-radius: 50px;
    border-style: solid;
}
.binary-button span {
    padding-left: 4px;
}
.selected {
    background-color: #6cd793;
    color: black;
    border-color: #6cd793;
}

.not-selected {
    background-color: black;
    color: white;
    border-color: white;

}

.binary-button {
    transition: transform 0.2s ease-in-out;
}

.binary-button:focus {
    transform: scale(1.1);
}